<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timetable</title>
  <link rel="stylesheet" href="/css/timetable.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  <h1>Dienstplan</h1>
  <h2><%= type %></h2>
  <main>
    <div class="days">
      <% days.forEach(day => { %>
        <% let className = (day.canWork ? 'active' : 'nonactive'); %>
        <form action="/clicked-day/<%= day.display.toString() %>" method="post">
          <div class="day <%= className %>">
            <input type="hidden" name="realDate" value="<%= day.real %>">
            <input type="submit" name="<%= day.display %>" value="<%= day.display %>">
          </div>
        </form>
      <% }) %>
    </div>
    <form action="/save-remark" method="POST">
      <input type="text" name="remark" id="remark" value="<%= remark %>" placeholder="remark">
      <span class="save-remark">
        <input type="submit" name="submit" value="save remark" class="input-save-remark">
        <ion-icon name="bookmark-outline"></ion-icon>
      </span>
    </form>
    <div class="logout">
      <form action="/logout" method="get">
        <span class="logout">
          <input type="submit" value="Logout" class="input-logout">
          <ion-icon name="log-out-outline"></ion-icon>
        </span>
      </form>
    </div>
  </main>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>